body {
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #1e3a8a; /* Blue color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expand 1s ease-out forwards;
  z-index: 10;
}

@keyframes expand {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  90% {
    width: 200vmax;
    height: 200vmax;
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    width: 100vw;
    height: 101vh;
    opacity: 1;
    border-radius: 0;
  }
}

